/* Media queries */
@font-face {
   font-family: CircularStd-Black;
   src: url(fonts/CircularStd/CircularStd-Black.otf);
}

@font-face {
   font-family: CircularStd-BlackItalic;
   src: url(fonts/CircularStd/CircularStd-BlackItalic.otf);
}

@font-face {
   font-family: CircularStd-Bold;
   src: url(fonts/CircularStd/CircularStd-Bold.otf);
}

@font-face {
   font-family: CircularStd-BoldItalic;
   src: url(fonts/CircularStd/CircularStd-BoldItalic.otf);
}

@font-face {
   font-family: CircularStd-Book;
   src: url(fonts/CircularStd/CircularStd-Book.otf);
}

@font-face {
   font-family: CircularStd-BookItalic;
   src: url(fonts/CircularStd/CircularStd-BookItalic.otf);
}

@font-face {
   font-family: CircularStd-Light;
   src: url(fonts/CircularStd/CircularStd-Light.otf);
}

@font-face {
   font-family: CircularStd-LightItalic;
   src: url(fonts/CircularStd/CircularStd-LightItalic.otf);
}

@font-face {
   font-family: CircularStd-Medium;
   src: url(fonts/CircularStd/CircularStd-Medium.otf);
}

@font-face {
   font-family: CircularStd-MediumItalic;
   src: url(fonts/CircularStd/CircularStd-MediumItalic.otf);
}

@media screen and (max-width: 576px) {
   header {
      justify-content: space-between !important;
      box-shadow: 4px 4px rgba(0, 0, 0, 0.25) !important;
      border-radius: 0px !important;
      margin: 0 !important;
      height: unset !important;
   }

   nav {
      width: auto !important;
   }

   nav ul {
      display: grid !important;
      justify-content: space-around !important;
      padding-left: 0px !important;
      overflow: hidden;
      margin: 0;
   }

   nav li {
      margin: 15px !important;
   }

   nav li > a {
      display: block;
   }

   .hamburger {
      display: block !important;
   }

   .hamburger.active .bar:nth-child(2){
      opacity: 0 !important;
   }

   .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg) !important;
   }

   .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg) !important;
   }
   
   .nav-menu{
      position: absolute !important;
      right: 0 !important;
      padding-left: 30px !important;
      height: 100% !important;
      flex-direction: column !important;
      background-color: #EDE5BB !important;
      width: 50% !important;
      text-align: left !important;
      transition: 0.3s !important;
      display: none !important;
      top: 65px !important;
      z-index: 500 !important;
   }

   .nav-menu.active {
      display: block !important;
   }

   .logo {
      height: 60px !important;
   }

   .nav-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 0px;
   }

   #mobileLine {
      border-bottom: solid #95261F;
   }
}

@media screen and (max-width: 576px) {
   footer {
      padding-top: 0px !important;
      padding-left: 0px !important;
      margin-top: 0px !important;
      box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25) !important;
   }

   #footerFlex {
      display: flex !important;
      flex-direction: column !important;
      flex-wrap: nowrap !important;
      justify-content: space-between;
      margin-left: 15px !important;
   }

   .social {
      order: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 0px;
      margin: 0;
   }

   #footerFlex > p {
      font-family: CircularStd-Light;
   }

   .verticalLine {
      border: 0px !important; 
   }
   
   .textContainer {
      display: block !important;
      margin-bottom: 14px;
   }
}

@media screen and (max-width: 576px) {
   main {
      border-radius: 0px !important;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
   }

   h1 {
      text-align: left !important;
   }

   h3 {
      font-size: 4.5vw !important;
   }

   .gridContainer {
      display: block !important;
   }

   #line1 {
      flex-direction: column;
   }

   #line1text {
      font-size: 4.5vw !important;
   }

   #line1pictures {
      width: 100% !important;
   }

   #line2 {
      padding: 0px !important;
   }

   #line3 {
      flex-direction: column;
      height: unset !important;
   }

   #line3text {
      border-radius: 30px !important;
      font-size: 4.5vw !important;
   }

   #line3 img {
      border-radius: 30px;
      margin-bottom: 20px;
   }

   #line4 {
      font-size: 5.5vw !important;
      padding: 0 !important;
   }
}

@media screen and (max-width: 1750px) {
   .product img {
      border-radius: 10%;
      height: 180px;
      width: auto;
   }
}

@media screen and (max-width: 1540px) {
   .product img {
      border-radius: 10%;
      height: 150px;
      width: auto;
   }
}

@media screen and (max-width: 576px) {
   main {
      padding-bottom: 20px !important;
   }

   footer {
      border-radius: 0 !important;
   }

   .heroBanner {
      border-radius: 0 !important;
      height: 21vh !important;
   }

   .heroBanner h1 {
      font-size: 8vw !important;
   }

   .productFlex {
      margin: 0 30px !important;
      gap: 30px;
      padding: 0 !important;
   }

   .products h2 {
      font-size: 2.5em !important;
   }

   .product h3 {
      font-size: 1.5em !important;
   }

   .product img {
      height: 140px !important;
      max-width: 150px !important;
   }

   .product {
      margin: 0 !important;
   }

   .instructionsTitle {
      font-size: 2em;
   }

   .bakeCroissantsImg {
      width: 85vw !important;
      margin: 0 !important;
   }

   .textImgFlex div {
      margin: 10px 0 !important;
   }

   .textImgFlex p {
      text-align: left;
      margin: 0 !important;
   }

   .signupButton {
      width: 100% !important;
      height: 50px !important;
   }

   .findUs {
      height: 30vh !important;
   }

   .lessonsButton {
      width: 100% !important;
      height: 50px !important;
      font-size: 1em !important;
   }

   .textImgFlex > div p {
      font-size: 1em !important;
      margin: 20px 0;
   }

   .instructionsFlex {
      margin: 0 auto !important;
      padding: 0 !important;
      justify-content: center !important;
   }

   #findusButton {
      height: 45px !important;
      width: 200px !important;
      font-size: 1.5em !important;
      margin: 0 !important;
   }
}

@media screen and (max-width: 576px) {
   .gridContainer {
      display: block !important;
   }

   .menuFlex {
      display: block !important;
   }

   .menuFlex .page {
      width: 100% !important;
   }

   .menu h1 {
      display: none;
   }

   .menuFlex h3 {
      font-size: 2.5em !important;
      text-align: center;
      padding: 20px 0 0 15px !important;
      margin: 0px !important;
   }

   .page {
      display: flex !important;
      align-items: center !important;
      flex-wrap: wrap !important;
   }

   .menuContext {
      width: 90% !important;
      margin: auto !important;
      box-sizing: unset !important;
      border: unset !important;
   }
}

@media only screen and (max-width: 576px) {
   .instruction h1 {
      margin: 0 !important;
      padding: 20px 0 0 15px !important;
      font-size: 2.5em;
   }

   .hidden {
      display: unset !important;
      margin: 0 !important;
      inline-size: 50vw !important;
      overflow-wrap: break-word !important;
   }

   .visible {
      display: none;
   }

   .content {
      padding-bottom: 20px !important;
   }

   .content p {
      margin: 6px 0 !important;
      font-size: 1.2em;
   }

   .recipes h2 {
      padding: 23px 23px 10px 23px !important;
      font-size: 2em;
   }

   .gridContainer {
      grid-template-columns: 100% !important;
   }

   .recipe {
      border-radius: 0 !important;
      outline: none !important;
      margin: 21px 15px 0px 22px !important;
      flex-wrap: wrap !important;
      margin-bottom: 20px !important;
      flex-direction: row !important;
      border-bottom: solid #95261F;
   }

   .recipe img {
      width: 140px !important;
      height: 140px !important;
      outline: unset !important;
   }

   .button {
      height: auto !important;
      width: 100% !important;
      margin: 0 !important;
      font-size: 24px !important;
      padding: 5px !important;
      box-sizing: border-box !important;
   }

   .line {
      display: block !important;
   }

   .lessonContent {
      padding-bottom: 20px !important;
   }

   .lessonContent h2 {
      padding: 8px 0 8px 4% !important;
   }

   .lessonContent div p {
      font-size: 20px !important;
      margin: 0 !important;
      margin-bottom: 20px !important;
      left: 0 !important;
   }

   .lessonContent div div {
      margin: 0 !important;
   }

   .signUp {
      display: flex !important;
   }

   .signupButton {
      height: auto !important;
      width: 100% !important;
      margin: 0 !important;
      font-size: 24px !important;
      padding: 5px !important;
      box-sizing: border-box !important;
   }
}

@media print {
   body * {
      visibility: hidden;
   }

   main * {
      visibility: visible;
   }
}

@keyframes fadeIn {
   from { opacity: 0; }
   to   { opacity: 1; }
}

/* HTML Tags */
header {
   display: flex;
   background-color: #EDE5BB;
   grid-column: 2/7;
   align-items: center;
   border-radius: 50px;
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
   margin: 21px 0;
   height: 100px;
}

li a:hover {
   color: #551611;
}

p a:hover {
   color: #551611;
}

nav {
   font-family: Caveat;
   font-size: 1.8em;
   width: 100%;
   margin: 0 4%;
}

nav ul {
   display: flex;
   justify-content: space-between;
   padding: 0;
}

nav li {
   list-style-type: none;
}

body {
   background-color: #EDE5BB;
   background-image: url("../images/background.svg");
   background-repeat: no-repeat;
   margin: 0;
}

main {
   grid-column: 2/7;
   font-family: CircularStd-Book;
   color: #95261F;
   border-radius: 50px;
   background-color: #EDE5BB;
   box-shadow: 4px 4px 10px 9px rgba(0, 0, 0, 0.25);
}

footer {
   background-color: #EDE5BB;
   grid-column: 2/7;
   color: #95261F;
   text-align: center;
   font-family: CircularStd-Book;
   border-radius: 50px 50px 0 0;
   padding-top: 10px;
   padding-left: 20px;
   margin-top: 35px;
   box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.25);
}

footer p {
   margin: 4px 0;
   font-size: 1.2em;
   font-family: CircularStd-Light;
}

footer h5 {
   font-family: CircularStd-Light;
   font-size: 1em;
   margin: 10px;
}

footer h4 {
   margin: 2px 0;
   font-size: 1.2em;
}

a {
   text-decoration: none;
   color: #95261F;
}

main h2 {
   margin: 0;
   padding: 30px 40px;
   font-size: 3em;
}

main h3 {
   font-size: 1.5em;
}

main h4 {
   margin: 10px 0;
}

main p {
   font-size: 1em;
}

/* Classes */
.gridContainer {
   display: grid;
   grid-template-columns: repeat(7,1fr);
}

.homeInstructionsBox {
   background-color: #EDE5BB;
   font-family: CircularStd-Light;
   text-align: center;
   border-radius: 50px;
   font-size: 1.5em;
   color: #95261F;
   padding-bottom: 40px;
}

.instructionsTitle {
   font-family: Caveat;
   text-align: center;
   font-weight: normal;
}

.instructionsFlex {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   width: 90%;
   padding: 0 65px;
}

.textImgFlex {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.textImgFlex > div p {
   font-size: 1.3em;
   margin: 20px 0;
}

.bakeCroissantsImg {
   width: 40%;
   height: auto;
   border-radius: 50px;
   height: auto;
}

.social {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding-left: 0px;
   margin: 0;
}

.footerLink {
   text-decoration: none;
   color: #95261F;
}

.footerLink > img {
   padding: 5px;
   width: 50px;
   height: 40px;
}

.textContainer {
   display: flex;
   justify-content: space-around;
   margin-bottom: 14px;
}

.textContainer p {
   margin: 4px 6px;
}

.verticalLine {
   border-right: solid #95261F;
   padding-right: 10px;
   margin-right: 5px;
}

.logo {
   height: 100px;
   width: auto;
}

.recipe {
   border-radius: 50px;
   outline: 4px solid #95261F;
   outline-offset: -3px;
   margin: 21px 40px 0px 40px;
   display: flex;
   margin-right: 60px;
   margin-left: 60px;
   justify-content: space-between;
}

.first {
   margin-top: 0;
}

.last {
   margin-bottom: 0;
}

.button {
   text-decoration: none;
   color: #EDE5BB;
   font-family: CircularStd-BookItalic;
   background-color: #95261F;
   border-radius: 50px;
   height: 64px;
   width: 368px;
   font-size: 2.5em;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 25px 10px 0;
}

.signupButton {
   text-decoration: none;
   color: #EDE5BB;
   font-family: CircularStd-BookItalic;
   background-color: #95261F;
   border-radius: 50px;
   height: 64px;
   width: 25vw;
   font-size: 2em;
   display: flex;
   justify-content: center;
   align-items: center;
}

.lessonsButton {
   text-decoration: none;
   color: #EDE5BB;
   font-family: CircularStd-BookItalic;
   background-color: #95261F;
   border-radius: 50px;
   height: 64px;
   width: 100%;
   font-size: 1.8em;
   display: flex;
   justify-content: center;
   align-items: center;
}

.signUp {
   display: grid;
   justify-content: center;
}

.recipe img {
   border-radius: 50px;
   width: 276px;
   height: 276px;
   object-fit: cover;
   flex-shrink: 0;
   outline: 4px solid #95261F;
   outline-offset: -3px;
}

.content {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: flex-end;
   width: 100%;
}

.content h3 {
   margin-bottom: 10px;
   margin-right: auto;
   margin-left: 4%;
}

.content p {
   position: relative;
   left: 10px;
   font-family: CircularStd-Light;
   font-size: 1.8em;
   margin-top: 15px;
   margin-right: auto;
   margin-left: 4%;
   margin-right: 4%;
}

.subGrid {
   display: grid;
   grid-template-columns: repeat(16,1fr);
   margin-bottom: 50px;
}

.mapsFrame {
   grid-column: 2/16;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.mapsFrame h4 {
   font-family: CircularStd-Light;
   font-size: 1.6em;
}

.sideContent {
   grid-column: 2/16;
   display: flex;
   justify-content: space-evenly;
}

.sideContent p {
   font-family: CircularStd-Light;
   font-size: 1.2em;
}

.sideContent div h4 {
   font-family: CircularStd-Light;
   font-size: 1.6em;
}

.sideContent table {
   font-family: CircularStd-Light;
   font-size: 1.2em;
   line-height: 1.7;
}

.boldParagraph {
   font-weight: bold;
}

.box {
   display: grid;
   grid-template-columns: 50% 50%;
   position: absolute;
   width: 1500px;
   height: 970px;
   position: absolute;
   left: 10.94%;
   right: 10.94%;
   top: 166px;
   bottom: 285px;
   background: #EDE5BB;
   box-shadow: 4px 4px 10px 9px rgba(0, 0, 0, 0.25);
   border-radius: 50px;
}

.drinks {
   grid-column-start: 1;
   grid-column-end: 2;
   position: absolute;
}

.drinkText {
   position: absolute;
   left: 65px;
   top: -35px;
   font-family: 'Circular Std Book Italic';
   font-size: 64px;
   line-height: 75px;
   color: #95261F;
}

.drinkContext {
   box-sizing: border-box;
   position: absolute;
   width: 668px;
   height: 787px;
   left:  65px;
   top: 133px;
   border: 4px solid #95261F;
   border-radius: 50px;
   font-family: 'Circular Std Book Italic', serif;
   font-size: 40px;
}

.menuGrid {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   position: relative;
   left: 50px;
}

.menuGrid p {
   margin-bottom: 20px;
   margin-top: 20px;
}

.lastMenu {
   text-align: center;
}

.bakedGoods {
   grid-column-start: 2;
   grid-column-end: 3;
   position: absolute;
}

.bakedGoodsText {
   position: absolute;
   width: 377px;
   height: 75px;
   left :20px;
   top: -35px;
   font-family: 'Circular Std Book Italic';
   font-size: 64px;
   line-height: 75px;
   color: #95261F;
}

.bakedGoodsContext {
   box-sizing: border-box;
   position: absolute;
   width: 668px;
   height: 787px;
   left: 20px;
   top: 133px;
   border: 4px solid #95261F;
   border-radius: 50px;
   font-family: 'Circular Std Book Italic', serif;
   font-size: 40px;
}

.pictures:first-of-type {
   grid-column: 1 / span 2;
   grid-row: 2 / span 2;
}

.pictures:last-of-type {
   grid-column: 2 / span 2;
   grid-row: 1 / span 2;
}

.heroBanner {
   height: 25vw;
   background-image: url("../images/cafe.jpg");
   background-size: cover;
   background-position: center;
   border-top-left-radius: 50px;
   border-top-right-radius: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.heroBanner h1 {
   color: #EDE5BB;
   -webkit-text-stroke: 1px black;
   font-family: Caveat;
   font-size: 5vw;
}

.productFlex {
   display: flex;
   justify-content: center;
   margin: 0 60px;
   flex-wrap: wrap;
   padding: 5px;
}

.products h2 {
   font-family: Caveat;
   text-align: center;
   font-weight: normal;
   font-size: 4em;
}

.product {
   display: flex;
   align-items: center;
   flex-direction: column;
   margin: 10px;
}

.product img {
   border-radius: 10%;
   height: 245px;
   width: auto;
   max-width: 280px;
   object-fit: cover;
}

.product h3 {
   font-family: CircularStd-Light;
   font-size: 2em;
   margin: 14px 0;
   font-weight: unset;
}

.lessonContent {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-start;
   width: 100%;
   padding-bottom: 30px;
}

.lessonContent div p {
   position: relative;
   left: 10px;
   font-family: CircularStd-Light;
   font-size: 1.8em;
   margin-top: 15px;
}

.lessonContent div {
   margin-right: auto;
   margin-left: 4%;
   margin-right: 4%;
}

.subGrid {
   display: grid;
   grid-template-columns: repeat(16,1fr);
   margin-bottom: 50px;
}

.mapsFrame {
   grid-column: 2/16;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.mapsFrame h4 {
   font-family: CircularStd-Light;
   font-size: 1.6em;
}

.sideContent {
   grid-column: 2/16;
   display: flex;
   justify-content: space-evenly;
}

.sideContent b {
   font-family: CircularStd-Book;
}

.sideContent p {
   font-family: CircularStd-Light;
   font-size: 1.2em;
}

.sideContent div h4 {
   font-family: CircularStd-Light;
   font-size: 1.6em;
}

.sideContent table {
   font-family: CircularStd-Light;
   font-size: 1.2em;
   line-height: 1.7;
}

.menuContext {
   box-sizing: border-box;
   border: 4px solid #95261F;
   border-radius: 50px;
   font-family: 'Circular Std Book Italic', serif;
   font-size: 2em;
   padding: 0 30px;
}

.menuContext ul {
   padding: 0;
   margin: 0;
   width: 100%;
}

.menuContext li {
   display: flex;
   justify-content: space-between;
   position: relative;
   align-items: baseline;
   margin: 32px 0;
}

.menuContext li:before {
   border-bottom: 3px dotted #95261F;
   content: '';
   position: absolute;
   bottom: 4px; left: 0; right: 0; top: 0;
}

.menu {
   padding-bottom: 45px;
}

.menuFlex {
   display: flex;
   justify-content: space-between;
}

.menu .page {
   width: 45%;
   margin: 0 auto;
}

.menu h1 {
   font-size: 3em;
   text-align: center;
   margin: 30px 0;
}

.menu h3 {
   font-size: 3em;
   margin: 20px 30px;
}

.pictures:first-of-type {
   grid-column: 1 / span 2;
   grid-row: 1 / span 2;
}

.pictures:last-of-type {
   grid-column: 2 / span 2;
   grid-row: 2 / span 2;
}

.instruction > h1 {
   font-size: 3em;
   text-align: center;
   margin: 30px 0;
}

.findUs {
   width: 100%;
   height: 400px;
   object-fit: fill;
   background-image: url("/images/croissant1.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
   align-items: center;
   justify-content: center;
}

.hamburger {
   display: none;
   cursor: point;
}

.bar {
   display: block;
   width: 25px;
   height: 3px;
   margin: 5px auto;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   background-color: #95261F;
}

.box {
   padding: 30px;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}

.box h2 {
   padding: 0px;
}

.howToContent {
   width: 75%;
   display: flex;
   align-items: flex-start;
   flex-direction: column;
}

.youtubeFrameCoffee {
   padding-top: 50px;
   height: 400px;
   width: 800px;
}

.youtubeFrameCroissant {
   padding-top: 60px;
   width: 400px;
   height: 200px;
}

.hidden {
   display: none;
}

/* IDs */
#findUsHeading {
   grid-column: 2/16;
   padding: 30px 0px 30px 0px;
   display: flex;
   justify-content: center;
}

#findusButton {
   text-decoration: none;
   color: #EDE5BB;
   font-family: CircularStd-BookItalic;
   background-color: #95261F;
   border-radius: 50px;
   height: 64px;
   width: 270px;
   font-size: 2.5em;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 25px 10px 0;
}

#map {
   border-style: solid;
   border-width: 2px;
   height: 80vh;
   width: 60vw;
}

#contactContainer div p {
   margin-right: 30px;
}

#contactContainer div p {
   line-height: 0.7;
}

#emailBlock {
   margin-top: 50px;
}

#aboutUs {
   padding: 30px;
}

#aboutUs h1 {
   font-size: 3em;
   text-align: center;
   margin: 0;
}

#aboutUs h3 {
   font-size: 2em;
}

#line1 {
   display: flex;
   white-space: pre-line;
   justify-content: space-between;
}

#line1 p {
   margin: 0;
}

#line1 img {
   width: 100%;
   border-radius: 30px;
   border: 2px solid #95261F;
}

#line1text {
   background-color: #95261F;
   border-radius: 30px;
   color: #EDE5BB;
   padding: 20px;
   font-size: 1.5vw;
   font-weight: bold;
}

#line1pictures {
   display: grid;
   grid-template-rows: 1fr;
   width: 50%;
}

#line2 {
   padding-left: 80px;
   padding-right: 80px;
   padding-top: 40px;
   padding-bottom: 40px;
   font-weight: bold;
   font-style: italic;
}

#line3 {
   display: flex;
   white-space: pre-line;
}

#line3 p {
   margin: 0;
}

#line3text {
   border-top-right-radius: 30px;
   border-bottom-right-radius: 30px;
   padding: 20px;
   background-color: #95261F;
   color: #EBE5BB;
   font-size: 1.5vw;
   font-weight: bold;
}

#line3 img {
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
   width: 100%;
   flex: 60%;
   height: auto;
}

#line4 {
   padding-left: 80px;
   padding-right: 80px;
   padding-top: 40px;
   padding-bottom: 40px;
   font-weight: bold;
   font-style: italic;
}

#footerFlex {
   display: flex;
   justify-content: space-between;
   text-align: left;
   margin: 0 15px;
}

#footerFlex > p {
   font-family: CircularStd-Light;
}

#popup {
   position: fixed;
   top: 0;
   left: 0;
 }
 
 #formBg {
   display: none;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgb(217, 217, 217);
   background-color: rgba(217, 217, 217,0.5);
   animation: fadeIn 0.3s;
 }
 
 #form {
   display: none;
   position: fixed;
   z-index: 2;
   left: 25%;
   top: 25%;
   margin: auto;
   border: 5px solid #95261F;
   border-radius: 30px;
   background-color: #EDE5BB;
   width: 50%;
   text-align: center;
   animation: fadeIn 0.3s;
}
 
 #form form {
   width: 75%;
   margin: auto;
}
 
 #form h3 {
   font-size: 4em;
   font-weight: bold;
   margin: 10px;
}
 
 #form input {
   background-color: #95261F;
   color: #EDE5BB;
   border-radius: 30px;
   height: 50px;
   border: 1px solid #95261F;
   margin-bottom: 5px;
}
 
#form input[type=text], input[type=email], input[type=tel] {
   width: 100%;
   font-style: italic;
   font-weight: bold;
   font-size: 1.5em;
   box-sizing: border-box;
   padding: 30px;
}

#form input::placeholder {
   opacity: 1;
}

#form input:focus::placeholder {
   color: transparent;
}

#form input[type=submit] {
   width: 150px;
   font-size: 1.5em;
   left: 50%;
   margin-top: 15px;
   font-weight: bold;
}
