/* Media queries */
@font-face {
   font-family: CircularStd-Black;
   src: url(fonts/CircularStd/CircularStd-Black.otf);
}

@font-face {
   font-family: CircularStd-BlackItalic;
   src: url(fonts/CircularStd/CircularStd-BlackItalic.otf);
}

@font-face {
   font-family: CircularStd-Bold;
   src: url(fonts/CircularStd/CircularStd-Bold.otf);
}

@font-face {
   font-family: CircularStd-BoldItalic;
   src: url(fonts/CircularStd/CircularStd-BoldItalic.otf);
}

@font-face {
   font-family: CircularStd-Book;
   src: url(fonts/CircularStd/CircularStd-Book.otf);
}

@font-face {
   font-family: CircularStd-BookItalic;
   src: url(fonts/CircularStd/CircularStd-BookItalic.otf);
}

@font-face {
   font-family: CircularStd-Light;
   src: url(fonts/CircularStd/CircularStd-Light.otf);
}

@font-face {
   font-family: CircularStd-LightItalic;
   src: url(fonts/CircularStd/CircularStd-LightItalic.otf);
}

@font-face {
   font-family: CircularStd-Medium;
   src: url(fonts/CircularStd/CircularStd-Medium.otf);
}

@font-face {
   font-family: CircularStd-MediumItalic;
   src: url(fonts/CircularStd/CircularStd-MediumItalic.otf);
}

@media print {
   body * {
      visibility: hidden;
   }

   main * {
      visibility: visible;
   }
}

/* HTML Tags */
header {
   display: grid;
   grid-template-columns: repeat(7,1fr);
   background-color: #EDE5BB;
   grid-column: 2/7;
   align-items: center;
   border-radius: 50px;
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
   margin: 21px 0;
}

nav {
   grid-column: 2/7;
   font-family: Caveat;
   font-size: 1.5em;
}

nav ul {
   display: flex;
   justify-content: space-between;
   padding-left: 0px;
}

nav li {
   list-style-type: none;
}

body {
   background-color: #EDE5BB;
   background-image: url("../images/background.svg");
   background-repeat: no-repeat;
   margin: 0;
}

main {
   grid-column: 2/7;
   font-family: CircularStd-Book;
   color: #95261F;
   border-radius: 50px;
   background-color: #EDE5BB;
   box-shadow: 4px 4px 10px 9px rgba(0, 0, 0, 0.25);
}

footer {
   background-color: #EDE5BB;
   grid-column: 2/7;
   color: #95261F;
   text-align: center;
   font-family: CircularStd-Book;
   border-radius: 50px 50px 0 0;
   padding-top: 10px;
   padding-left: 20px;
   margin-top: 45px;
   box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.25);
}

footer p {
   margin: 4px 0;
   font-size: 1.2em;
   font-family: CircularStd-Light;
}

footer h5 {
   font-family: CircularStd-Light;
   font-size: 1em;
   margin: 10px;
}

footer h4 {
   margin: 2px 0;
   font-size: 1.2em;
}

a {
   text-decoration: none;
   color: #95261F;
}

main h2 {
   margin: 0;
   padding: 30px 40px;
   font-size: 3em;
}

main h3 {
   font-size: 1.5em;
}

main h4 {
   margin: 10px 0;
}

main p {
   font-size: 1em;
}

/* Classes */
.gridContainer {
   display: grid;
   grid-template-columns: repeat(7,1fr);
}

.social {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding-left: 0px;
   margin: 0;
}

.footerLink {
   text-decoration: none;
   color: #95261F;
}

.footerLink > img {
   padding: 5px;
   width: 50;
   height: 40;
}

.textContainer {
   display: flex;
   justify-content: space-around;
   margin-bottom: 14px;
}

.textContainer p {
   margin: 4px 6px;
}

.verticalLine {
   border-right: solid #95261F;
   padding-right: 10px;
   margin-right: 5px;
}

.logo {
   object-fit: contain;
   height: 100px;
   width: auto;
}

.recipe {
   border-radius: 50px;
   outline: 4px solid #95261F;
   outline-offset: -3px;
   margin: 21px 40px 0px 40px;
   display: flex;
   margin-right: 60px;
   margin-left: 60px;
   justify-content: space-between;
}

.first {
   margin-top: 0;
}

.last {
   margin-bottom: 0;
}

.button {
   text-decoration: none;
   color: #EDE5BB;
   font-family: CircularStd-BookItalic;
   background-color: #95261F;
   border-radius: 50px;
   height: 64px;
   width: 368px;
   font-size: 2.5em;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 25px 10px 0;
}

.signupButton {
   text-decoration: none;
   color: #EDE5BB;
   font-family: CircularStd-BookItalic;
   background-color: #95261F;
   border-radius: 50px;
   height: 64px;
   width: 270px;
   font-size: 2.5em;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 25px 10px 0;
}

.signUp {
   display: grid;
   justify-content: center;
}

.recipe img {
   border-radius: 50px;
   width: 276px;
   height: 276px;
   object-fit: cover;
   flex-shrink: 0;
   outline: 4px solid #95261F;
   outline-offset: -3px;
}

.content {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-end;
   width: 100%;
}

.content div h3 {
   margin-bottom: 10px;
}

.content div p {
   position: relative;
   left: 10px;
   font-family: CircularStd-Light;
   font-size: 1.8em;
   margin-top: 15px;
}

.content div {
   margin-right: auto;
   margin-left: 4%;
}

.heroBanner {
   height: 479px;
   background-image: url("../images/cafe.jpg");
   background-size: cover;
   background-position: center;
   border-top-left-radius: 50px;
   border-top-right-radius: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.heroBanner h1 {
   color: #EDE5BB;
   -webkit-text-stroke: 2px black;
   font-family: Caveat;
   font-size: 5em;
}

.productFlex {
   display: flex;
   justify-content: space-between;
   margin: 0 60px;
}

.products h2 {
   font-family: Caveat;
   text-align: center;
   font-weight: normal;
   font-size: 4em;
}

.product {
   display: flex;
   align-items: center;
   flex-direction: column;
}

.product img {
   border-radius: 10%;
   height: 245px;
   width: auto;
   max-width: 280px;
   object-fit: cover;
}

.product h3 {
   font-family: CircularStd-Light;
   font-size: 2em;
   margin: 14px 0;
   font-weight: unset;
}

.lessonContent {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-start;
   width: 100%;
}

.lessonContent div p {
   position: relative;
   left: 10px;
   font-family: CircularStd-Light;
   font-size: 1.8em;
   margin-top: 15px;
}

.lessonContent div {
   margin-right: auto;
   margin-left: 4%;
   margin-right: 4%;
}

.subGrid {
   display: grid;
   grid-template-columns: repeat(16,1fr);
   margin-bottom: 50px;
}

.mapsFrame {
   grid-column: 2/16;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.mapsFrame h4 {
   font-family: CircularStd-Light;
   font-size: 1.6em;
}

.sideContent {
   grid-column: 2/16;
   display: flex;
   justify-content: space-evenly;
}

.sideContent b {
   font-family: CircularStd-Book;
}

.sideContent p {
   font-family: CircularStd-Light;
   font-size: 1.2em;
}

.sideContent div h4 {
   font-family: CircularStd-Light;
   font-size: 1.6em;
}

.sideContent table {
   font-family: CircularStd-Light;
   font-size: 1.2em;
   line-height: 1.7;
}

.drinks {
   grid-column-start: 1;
   grid-column-end: 2;
   position: absolute;
}

.drinkText {
   position: absolute;
   left: 65px;
   top: -35px;
   font-family: 'Circular Std Book Italic';
   font-size: 64px;
   line-height: 75px;
   color: #95261F;
}

.menuContext {
   box-sizing: border-box;
   border: 4px solid #95261F;
   border-radius: 50px;
   font-family: 'Circular Std Book Italic', serif;
   font-size: 2em;
   display: flex;
   justify-content: space-between;
   padding: 0 30px;
}

.menu {
   display: flex;
   justify-content: space-between;
   padding-bottom: 45px;
}

.menu .page {
   width: 45%;
   margin: 0 auto;
}

.menuGrid p {
   margin-bottom: 20px;
   margin-top: 20px;
}

.lastMenu {
   text-align: center;
}

.bakedGoods {
   grid-column-start: 2;
   grid-column-end: 3;
   position: absolute;
}

.bakedGoodsText {
   position: absolute;
   width: 377px;
   height: 75px;
   left :20px;
   top: -35px;
   font-family: 'Circular Std Book Italic';
   font-size: 64px;
   line-height: 75px;
   color: #95261F;
}

.bakedGoodsContext {
   box-sizing: border-box;
   position: absolute;
   width: 668px;
   height: 787px;
   left: 20px;
   top: 133px;
   border: 4px solid #95261F;
   border-radius: 50px;
   font-family: 'Circular Std Book Italic', serif;
   font-size: 40px;
}

.pictures:first-of-type {
   grid-column: 1 / span 2;
   grid-row: 2 / span 2;
}

.pictures:last-of-type {
   grid-column: 2 / span 2;
   grid-row: 1 / span 2;
}

/* IDs */
#findUsHeading {
   grid-column: 2/16;
   padding: 30px 0px 30px 0px;
   display: flex;
   justify-content: center;
}

#map {
   border-style: solid;
   border-width: 2px;
   height: 48em;
   width: 80em;
}

#contactContainer div p {
   margin-right: 30px;
}

#contactContainer div p {
   line-height: 0.7;
}

#emailBlock {
   margin-top: 50px;
}

#aboutUs {
   padding: 30px;
}

#aboutUs h1 {
   font-size: 3em;
   text-align: center;
   margin: 0;
}

#aboutUs h3 {
   font-size: 2em;
}

#line1 {
   display: flex;
   white-space: pre-line;
   justify-content: space-between;
}

#line1 p {
   margin: 0;
}

#line1 img {
   width: 100%;
   border-radius: 30px;
   border: 2px solid #95261F;
}

#line1text {
   background-color: #95261F;
   border-radius: 30px;
   color: #EDE5BB;
   padding: 20px;
   font-size: 1.5vw;
   font-weight: bold;
}

#line1pictures {
   display: grid;
   grid-template-rows: 1fr;
   width: 50%;
}

#line2 {
   padding-left: 80px;
   padding-right: 80px;
   padding-top: 40px;
   padding-bottom: 40px;
   font-weight: bold;
   font-style: italic;
}

#line3 {
   display: flex;
   white-space: pre-line;
}

#line3 p {
   margin: 0;
}

#line3text {
   border-top-right-radius: 30px;
   border-bottom-right-radius: 30px;
   padding: 20px;
   background-color: #95261F;
   color: #EBE5BB;
   font-size: 1.5vw;
   font-weight: bold;
}

#line3 img {
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
   width: 100%;
   flex: 60%;
   height: auto;
}

#line4 {
   padding-left: 80px;
   padding-right: 80px;
   padding-top: 40px;
   padding-bottom: 40px;
   font-weight: bold;
   font-style: italic;
}

#footerFlex {
   display: flex;
   justify-content: space-between;
   text-align: left;
   margin: 0 15px;
}

#footerFlex > p {
   font-family: CircularStd-Light;
}

@media screen and (max-width: 1750px) {
   .product img {
      border-radius: 10%;
      height: 180px;
      width: auto;
   }
}

@media screen and (max-width: 1540px) {
   .product img {
      border-radius: 10%;
      height: 150px;
      width: auto;
   }
}
